.navv {
    margin: 5px;
    padding: 10px;
    background-image: linear-gradient(0, 0, 0, 0.6);

}

.fbtn {
    background-color: transparent;
    border: 2px white;
    border-radius: 5px;
    padding: 10px;


}

.fbtn:hover {
    background-color: rgb(236, 100, 8);
    color: rgb(255, 255, 255);
}

.firstp {

    background-image: url("/image/city.jpeg");
    background-size: cover;
    height: 700px;

}

.text {
    text-align: center;
    padding: 250px;
    color: white;
}

.org {
    color: aliceblue;
    background-color: rgb(236, 100, 8);
    border-radius: 5px;
    border: rgb(236, 100, 8);
    padding: 10px;
}

.org:hover {
    background-color: rgb(187, 118, 39);
    border: rgb(255, 3, 3);
}

.about {
    padding: 50px;

}

.about col {}


.image {
    border-radius: 20px;
}

.colll {
    background-color: rgb(221, 207, 207);
    padding: 30px 0;
}

.boxx {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 2px 100px rgb(184, 147, 79);

}

.fservice {
    padding: 40px;

}

.section-inline {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.section-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
}

.short-underline {
    width: 90px;
    /* adjust as needed */
    height: 2px;
    background-color: #c1440e;
    /* match your brand color */
}

.fservice h3 {
    border-right: 1pt chocolate;

}

.servicecol {
    text-align: center;
    transition: .6s;
    padding-bottom: 50px;


}

.servicecol:hover {
    transform: translatey(-8px);

}

.servicecol i h5:hover {
    color: orangered;
}

.card-body {}

.servicelogo {
    padding: 20px;
    background-color: rgb(226, 221, 221);

}

.logocol {
    padding: 20px 50px;
    filter: grayscale(100);
}

.logocol:hover {
    filter: grayscale(0);
}


.servicecolumnsecound {
    border: 2px;
    padding: 40px;
    display: flex;
}

.servicecolumnsecoundul {
    display: flex;
    padding: 20px 50px;
    height: 130px;
}

.servicecolumnsecoundbox {
    display: flex;
    border: .6px solid black;
    text-align: center;
    background-color: orangered;
    padding: 10px;


}

.servicecolumnsecoundbox ul {
    padding: 20px;
    display: flex;
}

.servicecolumnsecoundbox:hover {
    background-color: rgb(241, 236, 236);
    border: rgb(17, 12, 12);
    border: 2px solid orange;
}

.servicecolumnsecoundbox i {
    font-size: 50px;

}

.servicecolumnsecoundbox i:hover {

    color: orange;
}

.servicepagetwo {
    padding: 40px;
}


.service-section {
    background-color: #e4dada;
}

.section-inline {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.section-label {
    font-size: 14px;
    text-transform: uppercase;
    color: #999;
    font-weight: 500;
}

.short-underline {
    width: 90px;
    /* adjust as needed */
    height: 2px;
    background-color: #c1440e;
    /* match your brand color */
}

.service-section h4 {
    font-size: 20px
}

.hell {
    padding: 20px;
}

.boderhov {
    border-radius: 2px;
    background-color: rgb(243, 231, 231);
    padding: 10px;
}


.boderhov:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid red;


}

.servicefont {
    color: orangered;
}


.team {
    padding: 20px;
    background-color: #d6d4d4;
}

.cardlink:hover {
    color: orangered;

}


.contactfull {
    height: 800px;
}

.contact {
    padding: 100px;
}

.contactrowone {
    box-shadow: 2px 2px 50px rgb(185, 175, 156);
    padding-bottom: 50px;
    padding: 30px;
    height: 200px;
    border-radius: 5px;
}

.contactrowtwo-col {
    box-shadow: 2px 2px 50px rgb(185, 175, 156);
    padding-bottom: 50px;
    padding: 30px;
    height: 200px;
    border-radius: 5px;

}

.contractinfo {
    text-align: center;
    height: 350px;
}

.contactinfocol {
    padding: 50px;
    box-shadow: 2px 2px 50px rgb(185, 175, 156);
    border-radius: 5px;
}

.namebox {
    width: 100px;
    height: 10000px;
}

.contact-font {
    color: orangered;
    font-size: 30px;
    border: 2px;
}

.contactbtn {
    color: aliceblue;
    background-color: rgb(236, 100, 8);
    border-radius: 10px;
    border: rgb(236, 100, 8);
    width: 250px;
    height: 50px;



}

.contactbtn:hover {
    background-color: orangered;
    border: rgb(255, 3, 3);
    opacity: .6;
}


.lastcontain {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;

}

.subscribbtn:hover {
    background-color: rgb(189, 95, 28);

    border: red;
}

.lastcontact {
    text-align: center;
}